@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Single+Day&display=swap');



body{
  font-size: 14px;
}

header, main, footer{
  margin: 10px;
  padding: 20px;
  border: solid 5px #cccccc;
}
h1{
  font-family: "Black Han Sans", sans-serif;
  font-weight: normal;
  /*font-size: 5em;*/
  color: green;
  background-color: lightpink;
  border: solid 2px red;
  text-align: center;
  //width: 90vw;
  padding: 20px;
  /*margin: 40px;*/
}

h3{
  font-family: "Do Hyeon", sans-serif;
  color: blue;
  font-variant: small-caps;
}

h3{
  color: orange;
}

.content{
  display: inline-block;
  width: 28%; /*부모요소 너비의 30프로 설정*/
  height: 100%;
  border: solid 1px black;
  margin: 10px;
  padding: 5px;
}

#m1{
  border: solid 3px black;
}

article[id=m2] {
  color: blue;
}

article p::before{
  content: '[영화 소개]';
  font-weight: 900;
}

article p::after{
  content: '[더보기]';
  font-style: italic;
}

article p{
  font-family: "Single Day", sans-serif;
  font-size: 17px;
  background-color: darkgray;
  padding: 15px 5px 10px 5px;
  margin-bottom: 20px;
}

article:nth-child(2){
  background-color: lightblue;
}

a{
  text-decoration: none;
  color: darked;
}

a:visited{
  color: orange;
}

a:hover{
  background-color: blue;
  color: white;
}

a:active{
  background-color: darkred;
  color: white;
}

